@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    text-align: center;
   background: url(./images/cup.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fbfbf7;
  font-family: 'Amatic SC';

}

.navbar {
  list-style-type: none;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.nav-item{
  width: 300px
}


.nav-spacer{
  width: 100%;
  height: 4px;
  background-color: #ff9223;
}

.text-body {

}
